.background{
   color: aliceblue;
}

.main{
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin: 5%;
 color: azure;
 border-style: solid;
 border-radius: 2%;
 border-width: 0.5rem;
 
}
