@media(max-width:600px){
  .layout{
    background-color: gray;
  }
}
.layout{
    
    background-color: gray;
    border-style: solid;
    border-width: 1rem;
    border-color: aliceblue;
}



.defaultdropdown{
    opacity: 0;
}

.headerLink{
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.header{
    width: 50%;
 margin: auto;
    background-color: rgb(153, 150, 150);
    font-size: 4rem;
}

.dashboard{
  margin-left: 5%;
  width: 12rem;
  border-style: solid;
  border-radius: 5rem;
  background-color: aliceblue;
  
}

.dropdown{
   display: flex;
   flex-direction: column;
   
   padding-top: 20%;
   padding-bottom: 20%;
   padding-left: 10%;
   padding-right: 10%;
    background-color: gray;
    border-radius: 5%;
    
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    row-gap: 2.5rem;
}
.dropdown{
 opacity: 1;
  visibility: visible;
  transform: translateY(0); /* Moves into place */
  transition: opacity 0.3s ease, visibility 0s 0s, transform 0.3s ease;

}

.Link{
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.Link:hover{
  color: darkslategrey;
  transform: scale(1.1);
}

.dropdownhidden{
     opacity: 0;
  visibility: hidden;
  transform: translateY(-20px); 
  /* Starts above */
  transition: opacity 0.3s ease, visibility 0s 0.3s, transform 0.3s ease;
    
}
.button{
   
       transition: all 0.3s ease-in-out;
    margin-top: 10%;
    background-color: black;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

.button:hover{
  transform: scale(1.1);
  background-color: darkslategray;
}

.menu{
    
    position: absolute;
    margin-left: 80%;
}